html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $Roboto;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.bg-light-blue {
  background-color: $light-blue;
}
.slick-dots {
  display: flex;
  justify-content: center;

  button {
    width: 11px;
    height: 11px;
    padding: 0;
    outline: none;
    border: 1px solid black;
    border-radius: 50%;
    background: transparent;
    font-size: 0;
    color: transparent;

    &:active {
      background-color: gray;
    }
  }
  li {
    margin: 0 10px;
  }
}
.slick-slide {
  outline: none;
}
