.partners {
  margin-bottom: 50px;

  &__items {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  &__item {
    margin-top: 20px;

    flex-shrink: 0;
  }
  .slick-slide {
    max-width: 110px;
    margin-left: 110px;

    &:first-child {
      margin-left: 0;
    }
  }
  .slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
