.screenshots {
  &__items {
    margin-top: 48px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    margin-left: -12px;
    flex-wrap: wrap;
  }

  &__item {
    max-width: 270px;
    flex-shrink: 0;
    margin-top: 21px;
    margin-left: 12px;
  }
}
